<%- include('./common/header.ejs')%>


  <div class="container  ">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-6 col-xl-12 bg-danger">
       
        <h2 class="text-center ">UPDATE DATA</h2>
        <form method="post">
          <div class="mb-3 ">
            <label for="exampleFormControlInput1" class="form-label">NAME</label>
            <input type="text" class="form-control " name="name" value="<%= data.name %>">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">AGE</label>
            <input type="number" class="form-control" name="age" value="<%= data.age %>">
          </div>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">CITY</label>
            <input type="text" class="form-control" name="city" value="<%= data.city %>">
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">submit</button>
          </div>
         
        </form>
      </div>
      

    </div>
    <marquee behavior="alternate" scrollamount="10">
      <div class="foot">YOU CAN CREATE , READ , UPDATE AND DELETE ANY USER'S INFORMATION</div>
    </marquee>
    <h2 class="text-white text-center" style="font-family: cursive;">&copy; copyright-2023 management app </h2>
  </div>







  <%- include('./common/footer.ejs')%>